---
import Layout from "@layouts/Layout.astro";
import Tag from "@components/blog/Tag.astro";
import Datetime from "@components/blog/Datetime";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, author, description, ogImage, canonicalURL, pubDatetime, tags } =
  post.data;

const { Content } = await post.render();

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
>
  <div class="bg-gray-50 w-full">
    <main id="main-content" class="bg-gray-50 mx-auto max-w-5xl">
      <h1 class="post-title">{title}</h1>
      <Datetime datetime={pubDatetime} size="lg" className="my-2" />
      <img src={ogUrl} alt={title} class="w-full h-64 object-left rounded-lg" />
      <article id="article" role="article" class="prose mx-auto mt-8 max-w-5xl">
        <Content />
      </article>

      <!-- <ul class="tags-container">
        {tags.map((tag) => <Tag name={slugifyStr(tag)} />)}
      </ul> -->
    </main>
  </div>
</Layout>

<style>
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
  .tags-container {
    @apply mt-8;
  }
</style>
