---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/BlogMain.astro";
import Card from "@components/blog/Card";
import LinkButton from "@components/blog/LinkButton.astro";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<Layout
  title={`Latest articles about SQL and databases | ${SITE.title}`}
  description="Latest articles about SQL and databases"
>
  <Main
    pageTitle="Blog"
    pageDesc="Latest articles about SQL and databases"
    additoinal="Insights, ideas and inspiration for SQL and databases"
  >
    <div class="flow-root max-w-5xl mx-auto mt-12 space-y-20 sm:mt-16 lg:mt-20">
      <div class="-my-10 divide-y divide-gray-800">
        {
          posts.map(({ data }) => (
            <Card
              href={`/blog/${slugify(data)}`}
              frontmatter={data}
              siteOrigin={Astro.url.origin}
            />
          ))
        }
      </div>
    </div>
  </Main>

  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === "disabled"}
          href={`/blog${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${prev}-svg`}>
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
          Prev
        </LinkButton>
        <LinkButton
          disabled={next === "disabled"}
          href={`/blog/${pageNum + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          Next
          <svg xmlns="http://www.w3.org/2000/svg" class={`${next}-svg`}>
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </LinkButton>
      </nav>
    )
  }
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
